html {
    font-size: 16px;
}

.svg-logo {
    height: 3rem;
    width: 3rem;
}

.svg-icon {
    height: 2rem;
    width: 2rem;
}

.svg-icon, .svg-logo {
    fill: white;
}

.grid-container {
    height: 98vh;
    width: 98vw;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: 
        "sidebar header header header header"
        "sidebar main main main main"
        "sidebar main main main main"
        "sidebar main main main main"
        "sidebar main main main main";
}

.item-side {
    grid-area: sidebar;
    border: solid black;
    background-color: #1992d4;
    color: white;
}

.side-logo-container {
    display: grid;
    grid-template-columns: 3rem auto;
    align-items: center;
}

.side-navigation-container {
    display: grid;
    grid-template-columns: 2rem auto;
    align-items: center;
}

.side-settings-container {
    display: grid;
    grid-template-columns: 2rem auto;
    align-items: center;
}

.item-side >div {
    margin: 0 0 10% 5%;
}

.icon-container {
    display: flex;
    justify-content: center;
}

.item-head {
    grid-area: header;
    border: solid black;
}

.item-main {
    grid-area: main;
    border: solid black;
}